footer {
  color: var(--text-color-secondary);
  font-weight: var(--fw-md);
  margin-top: 450px;

  & .container,
  & .top {
    gap: 3rem;
  }

  & nav.even-coluns {
    gap: 4rem;
  }

  & .top ul {
    align-content: start;
  }

  & .title {
    font-size: 0.75rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--brand-color-primary);
  }

  & .botton {
    flex-wrap: wrap;

    & span {
      font-size: .875rem;
    }
  }
}
.bottom > div {
  display: flex;
  gap: 1rem;
  margin-right: auto;
}

@media(width >= 80em){
  .container {
    padding-inline: 0;
    padding-bottom: 2rem;
  }

  & .top{
    grid-template-columns: auto 1fr;

    & nav {
      margin-left: 350px;
    }
  }

}